.env
.env.*

node_modules
cache/
artifacts/

coverage*

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

typechain/*
typechain-types/*
yarn.lock
yarn_error.log

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost

.idea

.DS_Store
